*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body
{
    background-color: #7a82f093;
    width: 100%;
    height: 100vh;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 500px;
    background-color: #dee0f2af ;
    padding: 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;    
}
.title-selection{
    margin: 30px;
}
h1{
    color: #38475a;
    font-size: 25px;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 10px;
}
p{
    color: #38475a;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    text-transform: capitalize;

}
.input-group{
    position: relative;
}
  
label{
    text-transform: capitalize;
    margin-bottom: 10px;
    font-size: 14px;
    display: block;
}


.input-group  input {
    width: 100%;
    padding: 9px 18px 9px 52px;
    height: 50px;
    border-radius: 4px;
    margin-bottom :15px;
}
.input-group button{
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color:#fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
button:hover{
    background-color: #0056b3;
}
.input-group input:focus{
    border-color: #007bff;
    outline: none;
    width: 90%;
}