body{
    font-family: Arial, sans-serif;
    background-color: #7a82f093;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.signup-container{
    background-color: #dee0f2af;
    padding: 20px;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.signup-container h1,h2{
    text-align: center;
}

.signup-container{
    margin-bottom: 15px;
}
.form-group{
    margin-bottom: 15px;
    margin-left: 0px;

}
.form-group label{
    margin-bottom: 5px;
    display: block;
}
.form-group input{
    width: 90%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;;
}

.form-group input:focus{
    border-color: #007bff;
    outline: none;
    width: 90%;
}
.button{
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color:#fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;

}
button:hover{
    background-color: #0056b3;
}
.login-link {
    text-align: center;
    margin-top: 15px;
}
.login-link a {
     color: #007bff;
    text-decoration: none; 
}
.login-link a:hover {
    text-decoration: underline;
}
