
body {
    font-family: Arial, sans-serif;
    background-color: #7a82f093;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
   
   
}
.login-container {
    background: #dee0f2af;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.login-container h1 ,p {
    text-align: center;
    margin-bottom: 20px;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-group input:focus {
    border-color: #007bff;
    outline: none;
}
.form-group .forgot-password {
    text-align: right;
    font-size: 0.9em;
}
.form-group .forgot-password a {
    color: #007bff;
    text-decoration: none;
}
.form-group .forgot-password a:hover {
    text-decoration: underline;
    
}
.button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
.button:hover {
    background-color: #0056b3;
}
.signup-link {
    text-align: center;
    margin-top: 15px;
}
.signup-link a {
    color: #007bff;
    text-decoration: none;
}
.signup-link a:hover {
    text-decoration: underline;
}
